/* Agrandi le logo dans la barre de navigation */
.md-header__button.md-logo img, 
.md-header__button.md-logo svg {
    height: 80px; /* Ajustez cette valeur (par défaut, elle est de 24px) */
    width: auto;  /* Conserve les proportions d'origine */
}

/* Optionnel : Supprime les marges excessives si le logo est très grand */
.md-header__button.md-logo {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
